.test1 {
    background-color: white;
};

.box{
    position:relative;
    border: 1px solid;
} 

div table {
    border-collapse: separate;
    border-spacing: 20px;
    position: absolute;
    left:25%;
    
};
.reports_line_chart{
        width: 10%;
        height: 40px;
        padding: 32px;
        
}